<#include
"../include/head.html">
<body style="padding: 10px;">
	<form id="orderDetailForm"></form>
	<div style="overflow: hidden; margin: 0; padding: 0;" class="liger-tab">
		<div tabid="home" title="<@spring.message 'sale.orderline.primary'/>" lselected="true"
			style="margin: 0; padding: 0">
			<div id="orderDetailGrid" style="margin: 0; padding: 0"></div>
		</div>
		<div title="<@spring.message 'sale.orderline.other'/>" style="margin: 0; padding: 0;">
			<div id="otherDetailGrid" style="margin: 0; padding: 0;"></div>
		</div>
	</div>
	<script type="text/javascript">

		<#assign isedit = (RequestParameters.isedit!'0')/>
		
		var _isedit;
		<#if isedit == '0'>
			_isedit = 0;
    	</#if>
		<#if isedit == '1'>
			_isedit = 1;
    	</#if>
		
    	/* header保存方法 */
    	function f_save(){        	
            Hap.submitForm({
                form:form,
                url:'${base.contextPath}/sale/orderheader/insert',
                success:function(json, opt){
                	alert("success");
                    $.ligerDialog.success("<@spring.message "hap.tip.success"/>", '<@spring.message "hap.tip.info"/>', function(){
                    	//parent.fruitGrid.reload();
                        //f_cancel();
                    });
                },
                failure:function(){
                	alert("failure");
                }
            });
        }
    	
    	/* =============================== */
		function getCurrentDate(){
			var today = new Date();
			var currentDate = today.getFullYear() + "-" + today.getMonth() + "-" + today.getDate();        	
			alert(currentDate);
			return currentDate;
		}
		
    	var orderDetailForm = $("#orderDetailForm");
        var form = orderDetailForm.ligerForm({
            fields : [{
                display : '<@spring.message "sale.order.number"/>',
                name : "orderNumber",
                type : 'text',
                width: 120,
                newline : false,
                textField:'orderNumber',              
                validate : {
                    required : true
                }
            },{
                display : '<@spring.message "sale.company.name"/>',
                name : "companyId",
                type : "popup",
                width: 120,
                newline : false,
                textField:'companyName',
                validate : {
                    required : true
                },
                options:${lovService.getLov(base.contextPath, base.locale, "company_name_lov")}
            },{
                display : '<@spring.message "sale.customer.name"/>',
                name : "customerId",
                type : "popup",
                width: 120,
                newline : false,
                textField:'customerName',
                validate : {
                    required : true
                },
                options: $.extend(${lovService.getLov(base.contextPath, base.locale, "customer_name_lov")}, {
                	onLoadData: function() {
                       this.setParm('companyId', $.ligerui.get('companyId').getValue())
                   }
                })
            },{
                label : '<@spring.message "sale.order.date"/>',
                name : 'orderDate',
                newline : true,               
                type :'date',
                format : "yyyy-MM-dd",
   			 	width : 120,
				options: {
					showTime : true,
	                format : "yyyy-MM-dd",
	                onChangeDate: function (){
	                	var g = this;
	                    if (liger.get("orderDate").getValue() != null) {
	                        var _orderDate = new Date(liger.get("orderDate").getValue());
	                        var startDate = new Date('2016-01-01 00:00:00');
	                        if (_orderDate.getTime() < startDate.getTime()) {
	                            alert("只能选择2016年后的日期！");
	                            g.clear();
	                        }
	                    }else{
	                    	liger.setValue("orderDate", getCurrentDate());
	                    }
	                }
	            },
   			 	validate : {
                	required : true
             	}
            },{
                label : '<@spring.message "sale.order.money"/>',
                type : 'text',
                name : 'orderMoney',
                newline : false,
                width: 120
            },{
            	display: '<@spring.message "sale.order.status"/>',
            	name: "orderStatus",
            	width: 120,
            	newline: false,
            	
            	textField: "description",
            	<#if isedit == '0'>
            	type: "select",
            	options: {
	        		readonly: false,
	        		valueField: 'codeValueId',  //后台要获取到的值
	        		textField: 'meaning',   //界面显示的值
	        		url: '${base.contextPath}/sale/orderstatus/query',
	        		//data :[{codeValueId:'138',description:'新建'}]
        		}
            	</#if>
            	<#if isedit == '1'>
            	type: 'text',
            	options: {
	        		readonly: false,
	        		valueField: 'codeValueId',  //后台要获取到的值
	        		textField: 'meaning',   //界面显示的值
	        		url: '${base.contextPath}/sale/orderstatus/query',
	        		//triggerToLoad: true
        		}
            	</#if>
            }],
            buttons : [ {
                text : '<@spring.message "hap.save"/>',
                disabled : false,
                width : 60,
                click : function() {
                	f_save();
                }
            },{
                text    : '<@spring.message "hap.submit"/>',
                disabled: true,
                width   : 60,
                click   : function () {
                	//-----------------
                }
            },{
                text    : '<@spring.message "sale.order.approve"/>',
                disabled: true,
                width   : 60,
                click   : function () {
                	//-------------------
                }
            },{
                text    : '<@spring.message "sale.order.reject"/>',
                disabled: true,
                width   : 60,
                click   : function () {
                	//-----------------
                }
            },{
                text    : '<@spring.message "sale.order.deleteall"/>',
                disabled: true,
                width   : 60,
                click   : function () {
                	//-----------------
                }
            },{
                text    : '<@spring.message "sale.order.print"/>',
                disabled: true,
                width   : 60,
                click   : function () {
                	//-----------------
                }
            },{
                text    : '<@spring.message "sale.order.goback"/>',
                disabled: false,
                width   : 60,
                click   : function () {
					//关闭弹出窗口
                	parent.$(".l-dialog,.l-window-mask").remove();
                }
            }]
        });
        
      	//================= main detail =======================   
      	window['orderDetailGrid'] = $("#orderDetailGrid").ligerGrid({
            unSetValidateAttr : false,
            columns : [{
                display : '<@spring.message "sale.order.linenumber"/>',
                name : 'lineNumber',
                align : 'center',
                width : 80
            },{
                display : '<@spring.message "sale.inventory.inventoryitemid"/>',
                name : 'itemCode',
                align : 'center',
                type:'popup',
	        	valueField:'inventoryItemId',
	        	textField:'itemCode',
	         	editor:${lovService.getLov(base.contextPath,base.locale,"inventory_name_lov")} 
            },{
	        	display:'<@spring.message "sale.inventory.itemdescription"/>',
	        	name:'itemDescription',
	        	align : 'center',
	        	width : 120
	    	},{
                display : '<@spring.message "sale.orderline.quantityuom"/>',
                name : 'orderQuantityUom',
                align : 'center',
                width : 120
            }, {
                display : '<@spring.message "sale.orderline.quantity"/>',
                name : 'orderdQuantity',
                align : 'center',
                width : 100
            }, {
                display: '<@spring.message "sale.orderline.unitsellingprice"/>',
                name   : 'unitSellingPrice',
                align  : 'center',
                width  : 100
            }, {
                display: '<@spring.message "sale.orderline.money"/>',
                name   : 'orderSummary',
                align  : 'center',
                width  : 120
            }, {
                display: '<@spring.message "hap.comment"/>',
                name   : 'description',
                align  : 'center',
                width  : 120
            }],
            <#if isedit == '1'>
           		url: '${base.contextPath}/sale/orderLine/query?headerId=${RequestParameters.headerId!}', 
            </#if>
            toolbar : {
                items : [ {
                    text : '<@spring.message "hap.new"/>',
                    disable : false,
                    click : function() {
                        orderDetailGrid.addRow({})
                    },
                    icon : 'add'
                }, {
                    line : true
                }, {
                    text : '<@spring.message "hap.delete"/>',
                    click : function() {
                        Hap.gridDelete({
                            grid : fruitGrid,
                            url : ''
                        })
                    	fruitGrid.deleteSelectedRow();
                    },
                    icon : 'delete'
                }, {
                    line : true
                }, {
                    text : '<@spring.message "hap.save"/>',
                    click : function() {
                        Hap.gridSave({
                            grid : fruitGrid,
                            url : ''
                        })
                    },
                    icon : 'save'
                } ]
            },
            enabledEdit : true,
            width : '99%',
            height : '98%',
            checkbox : true
        });
        //============== other detail =============================
        	
        window['otherDetailGrid'] = $("#otherDetailGrid").ligerGrid({
            unSetValidateAttr : false,
            columns : [{
                display : '<@spring.message "sale.orderline.linenumber"/>',
                name : 'lineNumber',
                align : 'center',
                width : 80
            },{
                display : '<@spring.message "sale.orderline.addition1"/>',
                name : 'addition1',
                align : 'center',
                width : 120
            },{
                display : '<@spring.message "sale.orderline.addition2"/>',
                name : 'addition2',
                align : 'center',
                width : 120
            },{
                display : '<@spring.message "sale.orderline.addition3"/>',
                name : 'addition3',
                align : 'center',
                width : 120
            }, {
                display : '<@spring.message "sale.orderline.addition4"/>',
                name : 'addition4',
                align : 'center',
                width : 120
            }, {
                display: '<@spring.message "sale.orderline.addition5"/>',
                name   : 'addition5',
                align  : 'center',
                width  : 120
            }],
            <#if isedit == '1'>
       			url: '${base.contextPath}/sale/orderLine/query?headerId=${RequestParameters.headerId!}', 
        	</#if>
            toolbar : {
                items : [ {
                    text : '<@spring.message "hap.new"/>',
                    disable : false,
                    click : function() {
                        orderDetailGrid.addRow({})
                    },
                    icon : 'add'
                }, {
                    line : true
                }, {
                    text : '<@spring.message "hap.delete"/>',
                    click : function() {
                        Hap.gridDelete({
                            grid : fruitGrid,
                            url : ''
                        })
                    	fruitGrid.deleteSelectedRow();
                    },
                    icon : 'delete'
                }, {
                    line : true
                }, {
                    text : '<@spring.message "hap.save"/>',
                    click : function() {
                        Hap.gridSave({
                            grid : fruitGrid,
                            url : ''
                        })
                    },
                    icon : 'save'
                } ]
            },
            enabledEdit : true,
            width : '99%',
            height : '334px',
            checkbox : true
        });	
        
        <#if isedit == '1'>
        	Hap.loadForm({form:form,url:'${base.contextPath}/sale/order/query',para:{headerId:${RequestParameters.headerId}}})
        </#if>
    
    </script>
</body>
</html>
